

 	<div class="container">
		
		<% if notice || alert %>
			<p class="notice"><%= notice %></p>
			<p class="alert"><%= alert %></p>
		<% end %>
		<%= link_to "sign up", new_user_registration_path %>
	    
	    <%= link_to "sign_in", new_user_session_path %>

	</div>
