


h1 {
	text-align: center;
}

h2 {
	font-size: 60px;
	text-decoration: none;
	text-align: center;
	display: inline-block;
	padding: 10px;
	font-family: 'Poiret One', cursive;
	font-weight: bold;

}

h3 {
	font-size: 50px;
	text-decoration: none;
	text-align: center;
	display: inline-block;
	padding: 10px;
	font-family: 'Poiret One', cursive;
	font-weight: bold;
}

.divise {
	display: inline-block;
}

.divise_container {
	display: inline-block;

}
.button {
	float: left;
	margin-top: 20px;
}