.display_specs {
	
	font-size: 25px;
	text-align: center;
	display: block;
	font-family: 'Poiret One', cursive;
	margin: 0;
}

.links p {
	display: block;
	float: right;
	margin-top: 0; 

}

h1 {
	text-decoration: underline;;
}